div.card{
    padding: 2px;
    border-bottom: solid 1px #cccccc;
    .scoreDate{
        font-size:.8em;
        line-height:12px;
    }
    .tee{
        font-size:.8em;
        padding-top:0px;
    }
    .course{
        padding-bottom:0px;
    }
    dl{
        font-size:.8em;
        display:inline-block;
        padding:0;
        margin:0;
    }
    dd{
        display:inline-block;
        width:60px;
        white-space:nowrap;
    }
    dt{
        display:inline-block;
        width:20px;
        text-align:right;
    }
}
#goallist {
    dd{
        text-align:right;
        display:inline-block;
        width:20px;
    }
}
table.scores{
    td,th {
        border:solid 1px black;
        font-size:.7em;
    }
    td{
        text-align:right;
    }
    td.text{
        text-align:left;
    }
}
