div.card{
    padding: 2px;
    border-bottom: solid 1px #cccccc;
    .scoreDate{
        font-size:.8em;
        line-height:12px;
    }
    .tee{
        font-size:.8em;
        padding-top:0px;
    }
    .course{
        padding-bottom:0px;
    }
}
