
exports.configure = function(config){
    config.GOOGLE_CLIENT_ID = process.env.GOOGLE_CLIENT_ID;
    config.GOOGLE_CLIENT_SECRET =process.env.GOOGLE_CLIENT_SECRET; // added to config variables on heroku
    config.callbackUrl  = "http://single-digit-handicap.chrischristie.com/auth/google/callback";
    config.ConnectionString = process.env.ConnectionString;
    config.gmail = "topherchristie@gmail.com";
    config.name = "Chris Christie";
    config.useCompiledJs = true;
}




