
<div class="span10 minGraph">
    <h2>Recent Scores
        <button class="btn btn-mini" type="button" data-toggle="modal" data-target="#bookModal"><span class="icon-plus-sign"></span></button>
    </h2>
    <div id="recentScores"></div>
</div>
<div class="span2 minGraph">
<h2>Goals By Year</h2>
<div id="goallist"></div>
</div>
<div class="span12">
<table class="scores">
            <thead>
      <tr><th>Date</th><th>Course</th><th>Score</th><th>Handicap</th><th>GIR</th>
<th>Putts</th><th>1 Putts</th><th>3 Putts</th><th>Chip In</th>
<th>Chips</th><th>Short Game</th><th>Ch 15</th>
<th>Avg Putts After Chip</th>
<th>Avg Putts W/o Chip</th>
<th>Short Game % of Total</th>
<th>Fairways</th>
<th>Fairway %</th>
<th>Driver Pen. Points</th>
<th>Playable Drives</th>
<th>Playable %</td>
<th>Penalties</th>
<th>Extras</th>
<th>Scrambles</th>
<th>Scramble %</th>
<th>Birds</th>
<th>Pars</th>
<th>Bogies</th>
<th>Doubles</th>
<th>Others</th>
<th>Extra Chips</th>
</tr>
	</thead>
        <tbody id="recentTable">
        </tbody>
    </table>
    </div>
