
<div class="span4">
  <h2>Goals By Year</h2>
  <table cellpadding="0" cellspacing="0" class="table table-bordered table-striped table-hover scores">
    <thead><tr><th colspan="2">Goal</th><th>Last Year</th><th>This Year</th><th>Year Diff</th><th>Goal</th><th>Goal Diff</th></tr></thead>
    <tbody id="goallist"></tbody>
  </table>
</div>

<div class="span4">
  <h2>Handicap</h2>
  <table cellpadding="0" cellspacing="0" class="table table-bordered table-striped table-hover scores"></table>
</div>
<div id="courseLayer" class="span12 row-fluid">
    <div id="courselist" class="span4"></div>
    <div id="courseStats" class="span8">Yo Yo, check it out</div>
</div>
<div class="span12">
<h2>Recent Scores
    <button class="btn btn-mini" type="button" data-toggle="modal" data-target="#bookModal"><span class="icon-plus-sign"></span></button>
</h2>
<table cellpadding="0" cellspacing="0" class="table table-bordered table-striped table-hover scores">
            <thead>
    <tr>
        <th rowspan="2">Date</th>
        <th rowspan="2">Course</th>
        <th rowspan="2">Score</th>
        <th rowspan="2">Handicap</th>
        <th rowspan="2">GIR</th>
        <th colspan="3">Putts</th>
        <th  class="shortGame" colspan="2">Avg Putts</th>
        <th class="shortGame" colspan="3">Chips</th>
        <th class="shortGame" colspan="2">Scramble</th>
        <th class="shortGame" colspan="2">Short Game</th>
        
        <th rowspan="2">Ch 15</th>
        
        
        <th colspan="2" class="driving">Fairways</th>
        <th rowspan="2" class="driving" title="Driver Penalty Points">Dr Pen Pts</th>
        <th colspan="2" class="driving">Playable</th>
        <th class="scoreRow" rowspan="2" title="Penalties">Pens</th>
        <th class="scoreRow" rowspan="2" title="Extras">EX</th>
        <th class="scoreRow" rowspan="2" title="Eagles">-2</th>
        <th class="scoreRow" rowspan="2" title="Birdies">-1</th>
        <th class="scoreRow" rowspan="2" title="Pars">0</th>
        <th class="scoreRow" rowspan="2" title="Bogies">+1</th>
        <th class="scoreRow" rowspan="2" title="Doubles">+2</th>
        <th class="scoreRow" rowspan="2" title="Others">+3</th>
        
    </tr>
    <tr>
        <th>#</th><!--putts -->
        <th>1</th><!--putts -->
        <th>3</th><!--putts -->
        <th class="shortGame">w/ Chip</th><!--avgputts -->
        <th class="shortGame">w/o Chip</th><!--avgputts -->
        <th class="shortGame">In</th><!--chips -->
        <th class="shortGame">#</th><!--chips -->
        <th class="shortGame" title="More then one chip on a hole">EX</th><!--chips -->
        <th class="shortGame">#</th><!--scramble -->
        <th class="shortGame">%</th><!--scramble -->
        
        <th class="shortGame">#</th><!--shortgame -->
        <th class="shortGame">%</th><!--shortgame -->

        <th class="driving">#</th><!--fairways -->
        <th class="driving">%</th><!--fairways -->
        <th class="driving">#</th><!--playable -->
        <th class="driving">%</td><!--playable -->
        
    </tr>
	</thead>
        <tbody id="recentTable">
        </tbody>
    </table>
</div>