
<div class="span4">
  <h2>Goals By Year</h2>
  <table cellpadding="0" cellspacing="0" class="table table-bordered table-striped table-hover scores">
    <thead><tr><th colspan="2">Goal</th><th>Last Year</th><th>This Year</th><th>Year Diff</th><th>Goal</th><th>Goal Diff</th></tr></thead>
    <tbody id="goallist"></tbody>
  </table>
</div>

<div class="span4">
  <h2>Handicap</h2>
  <table cellpadding="0" cellspacing="0" class="table table-bordered table-striped table-hover scores"></table>
</div>
<div id="graphLayer" class="span12 row-fluid">
    <div class="span4">
        <h2>Report List</h2>
        <ul class="courselist unstyled">
            <li><a href="#" class="scoreVsGIR">Score vs GIR</a></li>
            <li><a href="#" class="scoreVsPutts">Score vs Putts</a></li>
            <li><a href="#" class="scoreVsFairways">Score vs Fairway %</a></li>
            <li><a href="#" class="scoreVsPlayable">Score vs Playable %</a></li>
            <li><a href="#" class="scoreVsDrPenPoints">Score vs Dr Pen Points</a></li>
            <li><a href="#" class="scoreVsScramble">Score vs Scramble %</a></li>
            <li><a href="#" class="girVsFw">GIR vs Fairway %</a></li>
            <li><a href="#" class="holeVsPar">Hole vs Par</a></li>
        </ul>
    </div>
    <div class="span8">
        <h2 id="graphTitle"></h2>
        <div id="graphHolder"></div>
    </div>
</div>
<div id="courseLayer" class="span12 row-fluid">
    <div class="span4">
        <h2>Course List</h2>
        <ul id="courselist" class="courselist unstyled"></ul>
    </div>
    <div class="span8">
        <div class="tabbable">
        <ul class="nav nav-pills" id="courseNav">
            <li class="active"><a href="#tab1" data-toggle="tab">Hole by Hole</a></li>
        </ul>
        <div class="tab-content" id="teeContent">
            <div class="tab-pane active" id="tab1">
                 <div id="courseStats"></div>   
            </div>
        </div>
        </div>
    </div>
    
</div>
<div class="span12 scoreTableWrapper">
    scores
</div>