

    
<table cellpadding="0" cellspacing="0" class="table table-bordered table-striped table-hover scores">
    <thead>
    <tr>
        <th>#</th>
        <th>Fairway %</th>
        <th>Playable %</th>
        <th>GIR %</th>
        <th>Avg Putts</th>
        <th>Avg Score to Par</th>
        <th>Total Penalties</th>
    </tr>
    </thead>
    <tbody>
    {{#holes}}
    <tr>
        <td>{{_id}}</td>
        <td title="{{value.fairway}} of {{value.count}}">{{value.fairwayPercent}}</td>
        <td title="{{value.playable}} of {{value.count}}">{{value.playablePercent}}</td>
        <td title="{{value.GIR}} of {{value.count}}">{{value.GIRPercent}}</td>
        <td title="">{{value.avgPutts}}</td>
        <td title="">{{value.avgScoreToPar}}</td>
        <td>{{value.penalties}}</td>
    </tr>
    {{/holes}}
    </tbody>
</table>
