
    <h2>{{courseId}} Course Stats</h2>
    
<table cellpadding="0" cellspacing="0" class="table table-bordered table-striped table-hover scores">
    <thead>
    <tr>
        <th>#</th>
        <th>Fairway %</th>
        <th>Playable %</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(holes, function(hole) { %>
    <tr>
        <td>{{hole._id}}</td>
        <td title="{{hole.value.fairway}} of {{hole.value.count}}">{{hole.value.fairwayPercent}}</td>
        <td title="{{hole.value.playable}} of {{hole.value.count}}">{{hole.value.playablePercent}}</td>
    </tr>
    <% }); %>
    </tbody>
</table>
