<td class="text"><a href="" id="{{_id}}" class="scorelink">{{prettyDate}}</a></td>
<td class="text">{{course.name}} - {{tee.name}}</td>
<td>{{score}}</td>
<td>{{stats.handicap}}</td>
<td>{{stats.GIR}}</td>
<td>{{stats.putts}}</td><td>{{stats.onePutts}}</td><td>{{stats.threePutts}}</td>
<td>{{stats.chipIn}}</td><td>{{stats.chips}}</td><td>{{stats.shortGame}}</td><td>{{stats.ch15}}</td><td>{{stats.avgPuttsWithChip}}</td>
<td>{{stats.avgPuttsWithoutChip}}</td><td>{{stats.shortGamePercent}}</td>
<td>{{stats.fairways}} of {{stats.totalFairways}}</td>
<td>{{stats.fairwayPercent}}</td>
<td>{{stats.drivePoints}}</td>
<td>{{stats.playable}} of {{stats.totalFairways}}</td>
<td>{{stats.playablePercent}}</td>
<td>{{stats.penalties}}</td>
<td>{{stats.extra}}</td>
<td>{{stats.scrambles}} of {{stats.scrambleChances}}</td>
<td>{{stats.scramblePercent}}</td>
<td>{{stats.birdies}}</td>
<td>{{stats.pars}}</td>
<td>{{stats.bogies}}</td>
<td>{{stats.doubles}}</td>
<td>{{stats.others}} </td>
<td>{{stats.extraChips}} </td>
