<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
<!--<title>{% block title %}Single Digit{% endblock %}</title>-->
     <title>&#12468;&#65433;&#12501;</title> 
  <link rel="shotcut icon" href="/public/images/golfIcon.png" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Dashboard of Chris Christie's Life" />
    <meta name="author" content="Chris Christie - topherchristie{at}gmail.com}" />
    
    <!-- Le styles -->
    <link href="/public/bootstrap/custom/custom-bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/public/bootstrap/custom/custom-bootstrap-responsive.css" rel="stylesheet">
    <link href="/public/site.css" rel="stylesheet">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/public/bootstrap/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/public/bootstrap/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/public/bootstrap/ico/apple-touch-icon-57-precomposed.png">
    <script src="https://use.edgefonts.net/source-code-pro;alegreya-sc.js"></script>
    
    
    {% block head %}
    {% endblock %}
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/" alt="Software datamine my golf game, to help me be a single digit handicap golfer">Single Digit</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#Scores" id="scoresLink">Scores</a></li>
              <li><a href="#Courses" id="coursesLink">Courses</a></li>
              <li><a href="#Graphs">Graphs</a></li>
              <li><a href="/scores/refresh">Recalc</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

     {% if message %}
    <div class="alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Info</strong> {{message}}
    </div>
    {% endif %}
    {% block content %}
    {% endblock %}
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/public/bootstrap/js/jquery.js"></script>

  <script src="/public/bootstrap/js/bootstrap-transition.js"></script>
     <script src="/public/bootstrap/js/bootstrap-alert.js"></script>
    <script src="/public/bootstrap/js/bootstrap-modal.js"></script>
    <!--<script src="/public/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="/public/bootstrap/js/bootstrap-scrollspy.js"></script>-->
    <script src="/public/bootstrap/js/bootstrap-tab.js"></script>
    <script src="/public/bootstrap/js/bootstrap-tooltip.js"></script>
    <!--<script src="/public/bootstrap/js/bootstrap-popover.js"></script>-->
    <script src="/public/bootstrap/js/bootstrap-button.js"></script>
    <script src="/public/bootstrap/js/bootstrap-collapse.js"></script>
<!--<script src="/public/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="/public/bootstrap/js/bootstrap-typeahead.js"></script>-->
{% block bottomJavascript %}
{% endblock %}
  </body>
</html>
