div.card {
  padding: 2px;
  border-bottom: solid 1px #cccccc;
}
div.card .scoreDate {
  font-size: .8em;
  line-height: 12px;
}
div.card .tee {
  font-size: .8em;
  padding-top: 0px;
}
div.card .course {
  padding-bottom: 0px;
}
div.card dl {
  font-size: .8em;
  display: inline-block;
  padding: 0;
  margin: 0;
}
div.card dd {
  display: inline-block;
  width: 45px;
  white-space: nowrap;
}
div.card dt {
  display: inline-block;
  width: 20px;
  text-align: right;
}
#goallist dd {
  text-align: right;
  display: inline-block;
  width: 20px;
}
