/*
div.card{
    padding: 2px;
    border-bottom: solid 1px #cccccc;
    .scoreDate{
        font-size:.8em;
        line-height:12px;
    }
    .tee{
        font-size:.8em;
        padding-top:0px;
    }
    .course{
        padding-bottom:0px;
    }
    dl{
        font-size:.8em;
        display:inline-block;
        padding:0;
        margin:0;
    }
    dd{
        display:inline-block;
        width:60px;
        white-space:nowrap;
    }
    dt{
        display:inline-block;
        width:20px;
        text-align:right;
    }
}
#goallist {
    dd{
        text-align:right;
        display:inline-block;
        width:20px;
    }
}
*/
div.scorecard {
  color: black;
}
div.scorecard h5 {
  color: black;
}
table.scores {
  border-left: solid 1px;
  border-top: solid 1px;
  border-color: #002900;
  /*width:100%;*/

}
table.scores td,
table.scores th {
  /*border:solid 1px;*/

  font-size: .8em;
  border: none;
  border-right: solid 1px #002900;
  border-bottom: solid 1px #002900;
  padding-left: 2px;
  padding-right: 2px;
  margin: 0;
}
table.scores th {
  background-color: #006600;
  border-color: #002900;
  text-align: center;
  padding-bottom: 1px;
  padding-top: 1px;
  line-height: 15px;
  color: white;
}
table.scores td {
  text-align: right;
  color: #555555;
  border: none;
  border-right: solid 1px;
  border-bottom: solid 1px;
  padding-bottom: 2px;
  padding-top: 2px;
  background-color: #dddddd;
}
table.scores td.text {
  text-align: left;
  white-space: nowrap;
}
table.scores span.slash {
  display: inline-block;
  padding-left: 1px;
  padding-right: 1px;
}
table.scores tr.goalFoot td {
  background-color: #00BCE1;
  color: black;
}
#scoreModal {
  width: 700px;
}
@media (max-width: 480px) {
  .scoreRow,
  .driving,
  .shortGame {
    display: none;
  }
}
@media (max-width: 767px) {
  div.modal.fade {
    top: -100px;
  }
  div.modal {
    width: 100%;
  }
  div.modal.fade.in {
    top: 20px;
  }
}
